In [32]:
import pandas as pd

In [33]:
employee_names_table='employee_names.csv'

In [34]:
employee_cols=['id','first_name','last_name']

In [35]:
employees_names=pd.read_table(employee_names_table, sep=',', header=None, names=employee_cols, usecols=[0,1,2])

In [36]:
employees_names.head(20)

                          id  first_name   last_name
0                         id  first_name   last_name
1   59ea7840fc13ae1f6d000096       Benny      Ventom
2   59ea7840fc13ae1f6d000097        Cara  Motherwell
3   59ea7840fc13ae1f6d000098      Willem    Haresign
4   59ea7840fc13ae1f6d000099       Trish     Farlane
5   59ea7840fc13ae1f6d00009a     Camilla     Limpkin
6   59ea7840fc13ae1f6d00009b      Godwin     Caffrey
7   59ea7840fc13ae1f6d00009c      Elvera      Custed
8   59ea7840fc13ae1f6d00009d      Vinson      Farres
9   59ea7840fc13ae1f6d00009e     Kliment   Pitchford
10  59ea7840fc13ae1f6d00009f       Matty      Heater
11  59ea7840fc13ae1f6d0000a0       Juana        Begg
12  59ea7840fc13ae1f6d0000a1        Alix       Layus
13  59ea7840fc13ae1f6d0000a2       Tessa     Brandes
14  59ea7840fc13ae1f6d0000a3      Hedwig     Fishley
15  59ea7840fc13ae1f6d0000a4    Cordelia      Aubray

In [37]:
employee_pay_table='employee_names.csv'

In [38]:
employee_pay_cols=['id','salary','bonus']

In [39]:
employees_pay=pd.read_table(employee_pay_table, sep=',', header=None, names=employee_pay_cols, usecols=[0,1,2])

In [40]:
employees_pay.tail(15)

                          id    salary       bonus
1   59ea7840fc13ae1f6d000096     Benny      Ventom
2   59ea7840fc13ae1f6d000097      Cara  Motherwell
3   59ea7840fc13ae1f6d000098    Willem    Haresign
4   59ea7840fc13ae1f6d000099     Trish     Farlane
5   59ea7840fc13ae1f6d00009a   Camilla     Limpkin
6   59ea7840fc13ae1f6d00009b    Godwin     Caffrey
7   59ea7840fc13ae1f6d00009c    Elvera      Custed
8   59ea7840fc13ae1f6d00009d    Vinson      Farres
9   59ea7840fc13ae1f6d00009e   Kliment   Pitchford
10  59ea7840fc13ae1f6d00009f     Matty      Heater
11  59ea7840fc13ae1f6d0000a0     Juana        Begg
12  59ea7840fc13ae1f6d0000a1      Alix       Layus
13  59ea7840fc13ae1f6d0000a2     Tessa     Brandes
14  59ea7840fc13ae1f6d0000a3    Hedwig     Fishley
15  59ea7840fc13ae1f6d0000a4  Cordelia      Aubray

In [41]:
leftouter_join=pd.merge(employees_names, employees_pay, how='left')

In [42]:
leftouter_join

                          id  first_name   last_name      salary       bonus
0                         id  first_name   last_name  first_name   last_name
1   59ea7840fc13ae1f6d000096       Benny      Ventom       Benny      Ventom
2   59ea7840fc13ae1f6d000097        Cara  Motherwell        Cara  Motherwell
3   59ea7840fc13ae1f6d000098      Willem    Haresign      Willem    Haresign
4   59ea7840fc13ae1f6d000099       Trish     Farlane       Trish     Farlane
5   59ea7840fc13ae1f6d00009a     Camilla     Limpkin     Camilla     Limpkin
6   59ea7840fc13ae1f6d00009b      Godwin     Caffrey      Godwin     Caffrey
7   59ea7840fc13ae1f6d00009c      Elvera      Custed      Elvera      Custed
8   59ea7840fc13ae1f6d00009d      Vinson      Farres      Vinson      Farres
9   59ea7840fc13ae1f6d00009e     Kliment   Pitchford     Kliment   Pitchford
10  59ea7840fc13ae1f6d00009f       Matty      Heater       Matty      Heater
11  59ea7840fc13ae1f6d0000a0       Juana        Begg       Juana        Begg
12  59ea7840fc13ae1f6d0000a1        Alix       Layus        Alix       Layus
13  59ea7840fc13ae1f6d0000a2       Tessa     Brandes       Tessa     Brandes
14  59ea7840fc13ae1f6d0000a3      Hedwig     Fishley      Hedwig     Fishley
15  59ea7840fc13ae1f6d0000a4    Cordelia      Aubray    Cordelia      Aubray