In [10]:
import csv

with open('chipotle.tsv', mode='rU') as f:
    file_nested_list=[row for row in csv.reader(f,delimiter='\t')]

In [13]:
header = file_nested_list[0]
data = file_nested_list[1:]

In [16]:
print header
print data[4]
print data[5]

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
['2', '2', 'Chicken Bowl', '[Tomatillo-Red Chili Salsa (Hot), [Black Beans, Rice, Cheese, Sour Cream]]', '$16.98 ']
['3', '1', 'Chicken Bowl', '[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sour Cream, Guacamole, Lettuce]]', '$10.98 ']

In [18]:
prices = [row[4] for row in data]

In [20]:
prices[0:5]

['$2.39 ', '$3.39 ', '$3.39 ', '$2.39 ', '$16.98 ']

In [22]:
type(prices[0])

str

In [24]:
prices = [row[4].replace('$', '') for row in data]

In [26]:
prices[0:5]

['2.39 ', '3.39 ', '3.39 ', '2.39 ', '16.98 ']

In [28]:
prices = [float(row[4][1:]) for row in data] # Convert string to float

print prices[0:5] #Printing thr price 

print type(prices[0]) # Checking the Type of

[2.39, 3.39, 3.39, 2.39, 16.98]
<type 'float'>

In [30]:
total_order_sum = sum([float(row[4][1:]) for row in data]) #To calculate the total number of build-in function and print  
total_order_sum

34500.16000000046

In [33]:
print header  # Print the items in the list as first and last items 
print data[0]
print data[-1]

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']
['1', '1', 'Chips and Fresh Tomato Salsa', 'NULL', '$2.39 ']
['1834', '1', 'Chicken Salad Bowl', '[Fresh Tomato Salsa, [Fajita Vegetables, Pinto Beans, Lettuce]]', '$8.75 ']

In [35]:
order_ids = [row[0] for row in data]
order_ids[0:20]

['1',
 '1',
 '1',
 '1',
 '2',
 '3',
 '3',
 '4',
 '4',
 '5',
 '5',
 '6',
 '6',
 '7',
 '7',
 '8',
 '8',
 '9',
 '9',
 '10']

In [37]:
set(order_ids[0:10]) #count the each items onces

{'1', '2', '3', '4', '5'}

In [40]:
unique_order_ids = set(order_ids) #Using the set keep unique order 
num_orders = len(unique_order_ids) #used the Len function to determined the number od unique orders
num_orders

1834

In [42]:
average_order_price = total_order_sum / num_orders # calculating the average price 
average_order_price

18.811428571428824

In [44]:
total_order_sum = sum([float(row[4][1:]) for row in data]) # Average price of each items 
num_orders = len(set([row[0] for row in data]))
average_order_price = round(total_order_sum / num_orders, 2) 
average_order_price

18.81

In [46]:
distinct_items = set([row[2] for row in data]) #review all the items
distinct_items

{'6 Pack Soft Drink',
 'Barbacoa Bowl',
 'Barbacoa Burrito',
 'Barbacoa Crispy Tacos',
 'Barbacoa Salad Bowl',
 'Barbacoa Soft Tacos',
 'Bottled Water',
 'Bowl',
 'Burrito',
 'Canned Soda',
 'Canned Soft Drink',
 'Carnitas Bowl',
 'Carnitas Burrito',
 'Carnitas Crispy Tacos',
 'Carnitas Salad',
 'Carnitas Salad Bowl',
 'Carnitas Soft Tacos',
 'Chicken Bowl',
 'Chicken Burrito',
 'Chicken Crispy Tacos',
 'Chicken Salad',
 'Chicken Salad Bowl',
 'Chicken Soft Tacos',
 'Chips',
 'Chips and Fresh Tomato Salsa',
 'Chips and Guacamole',
 'Chips and Mild Fresh Tomato Salsa',
 'Chips and Roasted Chili Corn Salsa',
 'Chips and Roasted Chili-Corn Salsa',
 'Chips and Tomatillo Green Chili Salsa',
 'Chips and Tomatillo Red Chili Salsa',
 'Chips and Tomatillo-Green Chili Salsa',
 'Chips and Tomatillo-Red Chili Salsa',
 'Crispy Tacos',
 'Izze',
 'Nantucket Nectar',
 'Salad',
 'Side of Chips',
 'Steak Bowl',
 'Steak Burrito',
 'Steak Crispy Tacos',
 'Steak Salad',
 'Steak Salad Bowl',
 'Steak Soft Tacos',
 'Veggie Bowl',
 'Veggie Burrito',
 'Veggie Crispy Tacos',
 'Veggie Salad',
 'Veggie Salad Bowl',
 'Veggie Soft Tacos'}

In [51]:
soda_orders = [] # Find the list only include Soda and soft drink order
for row in data:
    if 'Canned' in row[2]:
        soda_orders.append(row)

soda_orders[0:5]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 ']]

In [53]:
soda_orders = [row for row in data if 'Canned' in row[2]]

In [55]:
soda_orders = [row for row in data if 'Canned Soda' in row[2] or 'Canned Soft Drink' in row[2]]
soda_orders[0:5]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 ']]

In [57]:
soda_orders = [row for row in data if 'Canned Soda' == row[2] or 'Canned Soft Drink' == row[2]]
soda_orders[0:5]

[['9', '2', 'Canned Soda', '[Sprite]', '$2.18 '],
 ['14', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 '],
 ['23', '2', 'Canned Soda', '[Mountain Dew]', '$2.18 '],
 ['24', '1', 'Canned Soda', '[Sprite]', '$1.09 '],
 ['47', '1', 'Canned Soda', '[Dr. Pepper]', '$1.09 ']]

In [60]:
sodas = [row[3] for row in data if 'Canned' in row[2]]
sodas[0:5]

['[Sprite]', '[Dr. Pepper]', '[Mountain Dew]', '[Sprite]', '[Dr. Pepper]']

In [62]:
sodas[0][0]

'['

In [65]:
print sodas[0]
print type(sodas[0])
print len(sodas[0])

[Sprite]
<type 'str'>
8

In [67]:
sodas = [row[3][1:-1] for row in data if 'Canned' in row[2]]
sodas[0:5]

['Sprite', 'Dr. Pepper', 'Mountain Dew', 'Sprite', 'Dr. Pepper']

In [69]:
unique_sodas = set([row[3][1:-1] for row in data if 'Canned' in row[2]])
unique_sodas

{'Coca Cola',
 'Coke',
 'Diet Coke',
 'Diet Dr. Pepper',
 'Dr. Pepper',
 'Lemonade',
 'Mountain Dew',
 'Nestea',
 'Sprite'}

In [73]:
#List of all soda drink are avilable 
sodas = []
for row in data:
    if 'Canned' in row[2]:
        sodas.append(row[3][1:-1])  

# Print all the uniques soda items using list
unique_sodas = set(sodas)

In [75]:
burrito_count = 0     #calculating the total number of Burritos
for row in data:
    if 'Burrito' in row[2]:
        burrito_count = burrito_count + 1

In [79]:
burrito_count = 0
for row in data:
    if 'Burrito' in row[2]:
        burrito_count += 1  
burrito_count

1172

In [81]:
data[7] # review the single Order

['4',
 '1',
 'Steak Burrito',
 '[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]',
 '$11.75 ']

In [83]:
data[7][3] #we need to display only few this 3 to 7

'[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]'

In [85]:
data[7][3].count(',') #Count the number of commas

7

In [87]:
burrito_count = 0
topping_count = 0
for row in data:
    if 'Burrito' in row[2]:
        burrito_count += 1
        topping_count += (row[3].count(',') + 1)

print burrito_count
print topping_count

1172
6323

In [89]:
round(topping_count / float(burrito_count), 2) #Calculating the average number of toppings and count to 2 digits

5.4

In [91]:
burrito_count = sum(1 for row in data if 'Burrito' in row[2])
topping_count = sum([row[3].count(',') + 1 for row in data if 'Burrito' in row[2]])
round(topping_count / float(burrito_count), 2)

5.4

In [93]:
names = ['Ben', 'Victor', 'Laura', 'Victor']

In [97]:
# create empty dictionary
name_count = {}
for name in names:
      name_count[name] = 1

name_count

{'Ben': 1, 'Laura': 1, 'Victor': 1}

In [114]:
name_count = {}

for name in names:
     name_count[name] = 0

for name in names:
       name_count[name] += 1

name_count

{'Ben': 1, 'Laura': 1, 'Victor': 2}

In [118]:
name_count = {}

for name in names:
    if name not in name_count:
        name_count[name] = 1
    else:
        name_count[name] += 1 

name_count

{'Ben': 1, 'Laura': 1, 'Victor': 2}

In [120]:
header

['order_id', 'quantity', 'item_name', 'choice_description', 'item_price']

In [122]:
chip_orders = [row for row in data if 'Chips' in row[2]]
chip_orders[:5]

[['1', '1', 'Chips and Fresh Tomato Salsa', 'NULL', '$2.39 '],
 ['1', '1', 'Chips and Tomatillo-Green Chili Salsa', 'NULL', '$2.39 '],
 ['3', '1', 'Side of Chips', 'NULL', '$1.69 '],
 ['5', '1', 'Chips and Guacamole', 'NULL', '$4.45 '],
 ['7', '1', 'Chips and Guacamole', 'NULL', '$4.45 ']]

In [124]:
chip_quantities = [row[1] for row in data if 'Chips' in row[2]]
chip_quantities[:5]

['1', '1', '1', '1', '1']

In [126]:
chips = {}
for row in data:
    if 'Chips' in row[2]:
        if row[2] not in chips:
            chips[row[2]] = int(row[1])    
        else:
            chips[row[2]] += int(row[1])  
chips

{'Chips': 230,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips and Guacamole': 506,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Side of Chips': 110}

In [128]:
from collections import defaultdict
name_count = defaultdict(int)
for name in names:
    name_count[name] += 1

name_count

defaultdict(int, {'Ben': 1, 'Laura': 1, 'Victor': 2})

In [130]:
dict(name_count)

{'Ben': 1, 'Laura': 1, 'Victor': 2}

In [131]:
dchips = defaultdict(int)

for row in data:
    if 'Chips' in row[2]:
        dchips[row[2]] += int(row[1])

dict(dchips)

{'Chips': 230,
 'Chips and Fresh Tomato Salsa': 130,
 'Chips and Guacamole': 506,
 'Chips and Mild Fresh Tomato Salsa': 1,
 'Chips and Roasted Chili Corn Salsa': 23,
 'Chips and Roasted Chili-Corn Salsa': 18,
 'Chips and Tomatillo Green Chili Salsa': 45,
 'Chips and Tomatillo Red Chili Salsa': 50,
 'Chips and Tomatillo-Green Chili Salsa': 33,
 'Chips and Tomatillo-Red Chili Salsa': 25,
 'Side of Chips': 110}